body {
    font-family: Arial;
    padding: 20px;
}

#search {
    padding: 8px;
    width: 250px;
    margin-bottom: 10px;
}

#student-table {
    width: 400px;
}

.hidden {
    display: none;
}

#no-result {
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
